.full {
  background: url("Dirt.jpg") no-repeat center center fixed;
  background-size: cover;
}


body {
  background-color: transparent;
  color: white;
  font-family: 'Open Sans', sans-serif;
  min-height: 3000px;
}

.jumbotron {
  background: transparent;
  text-shadow: black 0.3em 0.3em 0.3em;
  margin-top: 5em;
  padding-left: 10em
  padding-top: 10em;
  padding-bottom: 2em;
  text-indent: 5%;
}

#mainInfobox{
  width: 80em; 
  text-indent: 1%;
  display: block; 
  min-height: 20em; 
  padding: 2em; 
}

#input1{
  width: 10em;
}

.navbar {
  background: rgba(0,0,0,0.5); 
}


a {
  color: white;
}

a:hover {
  color: black;
}

.info-box a:hover{
  color: blue;
}

.info-box {
  background: rgba(0,0,0,0.5);
  padding: 10px 20px 20px 20px;
}

#logo{
  width:auto; 
  height: 20em; 
  background-color: transparent;
}

.info-box span img{
  margin-left: 2.85em;
  margin-right: auto;
}

.info-box p a{
  font-weight:  bold;
  color: gray; 
  font-size: 1em; 
}

.info-box p{
  font-size: 1.5em;
}


