#brandName{
  font-weight: bold;
  margin-left: 2%;  
  font-family: Impact, Charcoal, sans-serif; 
  top:0.5%;
  font-size: 4em; 

}

body{
  background-color: #C67441;
  background-image: url("dark-leather.png"); 
}

nav.navbar-default{
	background-color: #C67441;
	opacity: 0.5; 
	filter: alpha(opacity=50); 
	width: 100%;  
	right: 0;
  top: 12%;
  margin-bottom: 5%; 
  color: blue;
  font-weight: bold; 
  text-align: center; 

} 

.navbar-nav{
  left-margin:auto;
  margin-right: auto;
  color: black;
  font-weight: bold; 
}
.jumbotron{
  padding: 2%;
  min-height: 40em; 
  background-image: url('45-degree-fabric-light.png');
  background-color: #E5D9CA;
  border-radius:0.5em; 
  margin: auto;
  width:80%;
}

.jumbotron h1{
  font-size: 3.5em; 
}

.jumbotron h2{
  font-size: 2.5em; 
}

.jumbotron h3{
  font-size: 2em; 
}
.jumbotron p{
  font-size: 1em; 
}

#contactBox{
  border-radius: 0;
  width:40%;
}


h1{ 
	font-style: sans-serif; 
}
.nav ul{
	list-style-type: none; 
	float: center;
}
.nav li{
	display: inline; 
}
ul{
	list-style-type: none;
	margin:0;
	padding: 0;	
}

#navImage{
  width:auto; 
  height:3.5em; 
}

.container-fluid{}

footer{
  bottom: 1%;
  color: black;
  margin-top: 3em; 
  margin-left: auto;
  margin-right: auto;
  background-color: #801F00;
}


